### Ridge Regression

In [3]:
import pandas as pd
from sklearn.datasets import load_boston

In [4]:
boston=load_boston()
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [5]:
df=pd.DataFrame(boston["data"])
df.columns=boston["feature_names"]
df["Target"]=boston["target"]
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [6]:
df.shape

(506, 14)

In [7]:
x=df[df.columns[:-1]]
x.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [8]:
y=df["Target"]
y.head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: Target, dtype: float64

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=42)

In [11]:
x_train.shape

(354, 13)

In [12]:
x_test.shape

(152, 13)

In [13]:
from sklearn.linear_model import Ridge

In [14]:
ridgeModel=Ridge(alpha=1)
ridgeModel.fit(x_train,y_train)

Ridge(alpha=1, copy_X=True, fit_intercept=True, max_iter=None, normalize=False,
      random_state=None, solver='auto', tol=0.001)

In [15]:
ridgeModel.score(x_test,y_test)

0.7041586727559432

In [16]:
ridgeModel.coef_

array([-0.1284272 ,  0.03695233,  0.01791436,  2.93269454, -7.84806046,
        4.06357438, -0.01724174, -1.27176091,  0.22549398, -0.00938149,
       -0.82710453,  0.01198771, -0.56347377])

In [17]:
ridgeModel.coef_**2

array([1.64935462e-02, 1.36547477e-03, 3.20924457e-04, 8.60069729e+00,
       6.15920530e+01, 1.65126368e+01, 2.97277654e-04, 1.61737581e+00,
       5.08475350e-02, 8.80123177e-05, 6.84101903e-01, 1.43705118e-04,
       3.17502693e-01])

In [18]:
sum(ridgeModel.coef_**2)

89.39392396911227

In [19]:
from sklearn.linear_model import LinearRegression

In [20]:
LineModel=LinearRegression()
LineModel.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [21]:
LineModel.score(x_train,y_train)*100

74.34997532004697

In [22]:
LineModel.coef_**2

array([1.78142684e-02, 1.28227829e-03, 2.45249239e-03, 9.73337115e+00,
       2.37685767e+02, 1.64608656e+01, 1.17090474e-04, 1.92099113e+00,
       5.89165615e-02, 7.57288830e-05, 8.29347548e-01, 1.39101170e-04,
       2.99332977e-01])

In [23]:
sum(LineModel.coef_**2)

267.0104725841158